h1{
	text-align: center;
}
.box{
	border: groove;
	height: -webkit-fill-available;
    border-radius: 40px;

}
.divMain{
	padding: 10px 60px
}
.tableCF{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  margin: 10px 10px;
}
.tableCF:hover {
    background: #b3e1ff;
}
.box1{
	text-align: center;
	padding: 10px 10px;
}
.box2{
	text-align: center;
}
.box3{
	padding: 20px 20px;
	text-align: center;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    transition: .4s;
}

.square_btn:hover{
    background-image: -webkit-linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}
.btn2{
	
	background-image: linear-gradient(45deg, #35b72f 0%, #abffae 100%);
}
.btn1{
	background-image: linear-gradient(45deg, #ff1414 0%, #aba7a7 100%);
}
.thucUong{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;

}
.btnThucUong{
	margin: 5px auto;
}

.thucUong:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
.cafe{
	text-align: left;
	border-bottom: groove;
	color: #FF9000;
	margin-top: 20px;
}
.giaiKhat{
	text-align: left;
	border-bottom: groove;
	color: #00FF18;
	margin-top: 20px;
}
.khac{
	text-align: left;
	border-bottom: groove;
	color: #FF0000;
	margin-top: 20px;
}
/*
	display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    margin: 10px 10px;
    ------------------
    display: inline-block;
    text-decoration: none;
    background: #ffba78;
    color: #ffba78;
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #d29963;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
    transition: .4s;
    margin: 10px 10px;
*/

